/* color palette from <https://github.com/vuejs/theme> */
body{
  margin: 1%;
  font-family: "WaltographRegular";
}
header img{
  width: 100%;
}
nav, footer{
  margin-top: 1%;
  background-color: #87cefa;
  padding: 20px;
}


nav{
  text-align: center;
}

nav a{
display: inline-block;
font-size: 25px;
letter-spacing: 2px;
text-align: center;
padding: 10px;
margin: 0 20%;
min-width: 10%;
text-decoration: none;
border-radius: 10px;
background-color: #bd353b;
color: white;
}

nav a:hover{
color: white;
background-color: #a7161d;
}

footer{
font-size: 50px;
text-align: center;
}

footer img{
  width: 3%;
  margin-right: 5%;
}